In [180]:
import pandas as pd
import numpy as np

In [182]:
airbnb = pd.read_csv('paris_airbnb.csv')

In [184]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

In [188]:
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0

In [190]:
new_listing_accomodation = 3
airbnb['distance'] = airbnb[['accommodates']].apply(lambda x: np.abs(x - new_listing_accomodation))

In [192]:
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8,1
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173,1
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243,1
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1,0
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0,1

In [194]:
airbnb['distance'].value_counts()

distance
1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: count, dtype: int64

In [196]:
np.random.seed(1)

In [198]:
random_indexes = np.random.permutation(len(airbnb))
print(random_indexes)

[4740 5606 4824 ... 3980  235 5157]

In [200]:
airbnb = airbnb.iloc[random_indexes]

In [202]:
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$65.00,$30.00,$200.00,2,1125,6,1
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,$98.00,NaN,NaN,5,1124,1,0
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$65.00,$30.00,"$1,000.00",10,1125,0,1
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,$45.00,$30.00,$200.00,5,1125,83,1
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$65.00,NaN,$200.00,5,365,5,0

In [212]:
airbnb = airbnb.sort_values('distance')

In [214]:
airbnb['price'][:10]

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

In [234]:
cleaned_price = airbnb['price'].str.replace('$','').replace(',','')

In [230]:
cleaned_price

1956     80.00
3735     67.00
6944     36.00
2094    120.00
2968     60.00
         ...
3058    300.00
887      99.00
7436    800.00
7167    800.00
2785    250.00
Name: price, Length: 8000, dtype: object

In [238]:
airbnb['price'] = pd.to_numeric(cleaned_price, errors='coerce').fillna(0)

In [240]:
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
1956,100%,NaN,2.0,48.87572,2.35423,Paris,75010,Île-de-France,3,Entire home/apt,1.0,1.0,3.0,80.0,$25.00,$100.00,2,120,60,0
3735,100%,NaN,17.0,48.86764,2.35174,Paris,75002,Île-de-France,3,Private room,2.0,1.0,1.0,67.0,$30.00,$200.00,4,180,95,0
6944,100%,NaN,1.0,48.88709,2.33930,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,1.0,36.0,$50.00,$350.00,5,60,53,0
2094,100%,NaN,1.0,48.89043,2.33222,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,1.0,120.0,$50.00,$300.00,6,90,93,0
2968,NaN,NaN,1.0,48.88328,2.34467,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,60.0,NaN,$400.00,6,20,0,0

In [244]:
average_price_5 = np.mean(airbnb['price'][:5])

In [246]:
average_price_5

72.6