In [93]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [95]:
airbnb = pd.read_csv('paris_airbnb.csv')

In [97]:
pd.options.mode.chained_assignment = None
np.random.seed(1)
random_indexes = np.random.permutation(len(airbnb))
airbnb = airbnb.iloc[random_indexes]
cleaned_price = airbnb['price'].str.replace('$','').replace(',','')
airbnb['price'] = pd.to_numeric(cleaned_price, errors='coerce').fillna(0)
train_df = airbnb.iloc[:6000]
test_df = airbnb.iloc[6000:]

In [99]:
def predict_price(new_listing_accommodation_capacity):
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing_accommodation_capacity))
    temp_df = temp_df.sort_values('distance')
    return np.mean(temp_df['price'][:5])

In [101]:
predict_price(3)

96.2

In [103]:
acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)

In [105]:
print(acc_one, acc_two, acc_four)

34.4 90.4 173.0

In [107]:
test_df['predicted_price'] = test_df['accommodates'].apply(lambda x : predict_price(x))

In [109]:
test_df.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,90.4
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,176.8
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,96.2
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,173.0
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,90.4

In [111]:
test_df['absolute_error'] = np.absolute(test_df['predicted_price'] - test_df['price'])
mae = np.mean(test_df['absolute_error'])

In [113]:
mae

51.7262

In [115]:
test_df['squared_error'] = np.power(test_df['predicted_price'] - test_df['price'], 2)
mse = np.mean(test_df['squared_error'])

In [117]:
mse

5165.055800000001

In [119]:
rmse = np.sqrt(mse)

In [121]:
rmse

71.86832264635095